* {
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (max-width: 600px) {
    body {
      display: block;
      font-size: .9em; } }

#background {
  background-color: #00ffc4;
  background: -webkit-linear-gradient(135deg, #B3FFAB, #12FFF7);
  background: linear-gradient(-45deg, #B3FFAB, #12FFF7);
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -1; }
  #background.rainbow-roll {
    -webkit-animation: rainbowize .75s ease-in-out;
            animation: rainbowize .75s ease-in-out; }

.container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  width: 36em;
  margin: 0 auto;
  padding: 2em;
  max-width: 36em;
  border: 4px solid #222; }
  @media (max-width: 600px) {
    .container {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      width: 100%; } }

footer {
  width: 100%;
  text-align: center;
  margin-top: 1em; }

@-webkit-keyframes rainbowize {
  from {
    -webkit-filter: hue-rotate(0) saturate(0);
            filter: hue-rotate(0) saturate(0); }
  from {
    -webkit-filter: hue-rotate(360deg) saturate(1.3);
            filter: hue-rotate(360deg) saturate(1.3); } }

@keyframes rainbowize {
  from {
    -webkit-filter: hue-rotate(0) saturate(0);
            filter: hue-rotate(0) saturate(0); }
  from {
    -webkit-filter: hue-rotate(360deg) saturate(1.3);
            filter: hue-rotate(360deg) saturate(1.3); } }

body {
  font-family: 'Space Mono', monospace; }

footer {
  display: block; }

h1, h2 {
  font-family: 'Candal', sans-serif;
  text-align: center; }

a {
  color: #004af1; }

::-moz-selection {
  background-color: #00ffc4; }

::selection {
  background-color: #00ffc4; }

#game--entry {
  display: block;
  width: 100%;
  font-size: 2em;
  min-height: 1.5em;
  height: auto;
  text-align: center;
  background: #f9f9f9; }

#points-area {
  text-align: center; }
  .game-over #points-area {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -1em;
    font-size: 2em;
    padding-top: 5em;
    left: 0;
    background-color: #00ffc4; }

#game--timer {
  text-align: center; }

.pre-game {
  color: #bbb; }
  .pre-game:after {
    content: 'start typing to play!'; }

.twitter-share-button,
.play-again {
  display: none;
  width: 100%; }
