#points-area {
  text-align: center;
  
  .game-over & {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -1em;
    font-size: 2em;
    padding-top: 5em;
    left: 0;
    background-color: hotpink;
  }
}

#game--timer {
  text-align: center;
}

.pre-game {
  color: lightgray;
  &:after {
    content: 'just start typing!'
  }
}