$accent-color: #00ffc4;

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media (max-width: 600px) {
    display: block;
    font-size: .9em
  }
}

#background {
  background-color: $accent-color;
  background: linear-gradient(-45deg, #B3FFAB , #12FFF7);
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -1;

  &.rainbow-roll {
    animation: rainbowize .75s ease-in-out;
  }
}

.container {
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 36em;
  margin: 0 auto;
  padding: 2em;
  max-width: 36em;
  border: 4px solid #222;

  @media (max-width: 600px) {
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }
}

footer {
  width: 100%;
  text-align: center;
  margin-top: 1em;
}

@keyframes rainbowize {
  from {
    filter: hue-rotate(0) saturate(0);
  }
  from {
    filter: hue-rotate(360deg) saturate(1.3);
  }
}