body {
  font-family: 'Space Mono', monospace;
}

footer {
  display: block;
}

h1, h2 {
  font-family: 'Candal', sans-serif;
  text-align: center;
}

::selection {
  background-color: $accent-color;
  color: white;
}

#game--entry {
  display: block;
  width: 100%;
  font-size: 2em;
  min-height: 1.5em;
  height: auto;
  text-align: center;
  background: #f9f9f9;
}

// #TODO -- add fonts to the page